# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS system files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Python egg files
*.egg-info/

# Coverage reports
htmlcov/
.coverage

# Render files (optional)
render.yaml
